<footer>
	<small>
		<a href="#">Welcome</a>
	</small>
	<nav>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">News</a></li>
		</ul>
	</nav>
</footer>        

